<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create result</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Create result</h1>
    <form method="post" action="/create3">
        <label for="id_owner">Id_owner</label>
        <input type="number" id="id_owner" name="id_owner">
        <br>
        <label for="id_car">Id_car</label>
        <input type="number" id="id_car" name="id_car">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/results">Back to List</a>
    <a href="/">Home</a>
</body>
</html>