<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Car</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Create Car</h1>
    <form method="post" action="/create2">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="age">Age</label>
        <input type="number" id="age" name="age">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/owners">Back to List</a>
    <a href="/">Home</a>
</body>
</html>