<!DOCTYPE html>
<html>
<head>
    <title>car</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Car dealer</h1>
    <a href="/cars">View all car</a>
    <a href="/owners">View all buyer</a>
    <a href="/results">View all result</a>
    <a href="/summary">View all summary</a>
</body>
</html>