<!DOCTYPE html>
<html>
<head>
    <title>Update Buyer</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Update Buyer</h1>
    <form method="post" action="/update2/<%= car.id %>">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="age">Age</label>
        <input type="number" id="age" name="age">
        <br>
        <input type="submit" value="Update">
    </form>
<a href="/owner/<%= owner.id %>">View</a>
<a href="/delete2/<%= owner.id %>">Delete</a>
<a href="/owners">Back to List</a>
<a href="/">Home</a>
</body>
</html>