<!DOCTYPE html>
<html>
<head>
    <title>Update Result</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Update Result</h1>
    <form method="post" action="/update3/<%= result.id %>">
        <label for="id_owner">Id_owner</label>
        <input type="number" id="id_owner" name="id_owner">
        <br>
        <label for="id_car">Id_car</label>
        <input type="number" id="id_car" name="id_car">
        <br>
        <input type="submit" value="Update">
    </form>
<a href="/result/<%= result.id %>">View</a>
<a href="/delete3/<%= result.id %>">Delete</a>
<a href="/results">Back to List</a>
<a href="/">Home</a>
</body>
</html>