<!DOCTYPE html>
<html>
<head>
    <title>Update Car</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <h1>Update Car</h1>
    <form method="post" action="/update1/<%= car.id %>">
        <label for="make">Make</label>
        <input type="text" id="make" name="make">
        <br>
        <label for="model">Model</label>
        <input type="text" id="model" name="model">
        <br>
        <label for="year">Year</label>
        <input type="number" id="year" name="year">
        <br>
        <label for="price">Price</label>
        <input type="number" id="price" name="price">
        <br>
        <input type="submit" value="Update">
    </form>
<a href="/car/<%= car.id %>">View</a>
<a href="/delete1/<%= car.id %>">Delete</a>
<a href="/cars">Back to List</a>
<a href="/">Home</a>
</body>
</html>